/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}


/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
}

/* following property is important to fix the hamburger-list near to H-Icon */
.hamburger-menu {
    position: relative;
    display: inline-block;
}

/* following properties will set the height and width of H-Icon and basically set the background for icon(three lines) */
.hamburger-icon {
    display: flex;
    flex-direction: column;
    /* to make the icons one below another*/
    justify-content: space-between;
    /* align-items: center; */
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
}

/* this is the code that will hide the hamburger links */
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    overflow: hidden;
    max-height: 2px;
    transition: 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.menu-links li {
    list-style: none;
}

/* codes for handling what happens after clicking hamburger icon */
.menu-links.open {
    max-height: 300px;
}

/* following code will reset the hamburger icon to its original condition */
.hamburger-icon span:first-child {
    transform: none;
    transition: all 0.3s ease-in-out;
}

.hamburger-icon span:nth-child(2) {
    opacity: 1;
}

.hamburger-icon span:last-child {
    transform: none;
    transition: all 0.3s ease-in-out;
}

/* following code will be executed only when user clicks on the hamburger icon
It uses a js to toggle */
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
    transition: all 0.3s ease-in-out;
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
    transition: all 0.3s ease-in-out;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    font-size: 1.5rem;
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}


/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* SKILLS SECTION */

#skills {
    position: relative;
    margin-top: 3rem;

    /* Adding `position: relative;
        ` to the `#skills` section in CSS establishes a positioning context for its child elements that have `position: absolute;
        `. This is important for positioning elements within the skills section accurately. Here's what it does:
    
        1. **Positioning Context**: When you set `position: relative;
        ` on an element,
        it creates a new positioning context for its child elements. This means that any child element with `position: absolute;
        ` will be positioned relative to the `#skills` element. 2. **Absolute Positioning**: In your case, you want to place the arrow at the bottom of the skills section. To do this, you use `position: absolute;
        ` for the arrow element. However,
        for `position: absolute;
        ` to work as expected and position the element relative to its nearest positioned ancestor,
        you need to set `position: relative;
        ` on that ancestor,
        which is `#skills` in this case. 3. **Bottom: 0**: By setting `bottom: 0;
        ` on the absolutely positioned arrow element,
        you are telling it to be positioned at the bottom of the `#skills` container. In summary,
        `position: relative;
        ` is used to create a reference point for absolutely positioned elements within the `#skills` section,
        allowing you to control their placement relative to that section. It doesn't affect the layout or positioning of other elements on the page, only those that are descendants of the `#skills` element and have `position: absolute;` set. */
}

.skills-details-conatainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-containers {
    display: flex;
    justify-content: center;
    cursor: default;
}

.skills-sub-title {
    color: rgb(85, 85, 85);
    margin-bottom: 2rem;
    font-size: 1.75rem;
    font-weight: 600;
}

.article-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}


/* PROJECTS SECTION */
#projects {
    position: relative;
    height: fit-content;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black
}

.project-btn {
    color: red;
    border-color: rgb(163, 163, 163);
}

/* CONTACT */

/*  CONTACT SECTION */
#contact {
    position: relative;
    height: fit-content;
}

.contact-section-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
}

/* FOOTER SECTION */

footer {
    position: relative;
}

.arrow-end {
    position: absolute;
    right: 5rem;
    bottom: 4rem;
}

.footer-text {
    text-align: center;
    font-size: 1rem;
    margin: 2rem;
}

.footer-text a {
    text-decoration: none;
    color: red;
}

.footer-text a:hover {
    font-weight: bold;
}


video {
    width: 90%;
    max-width: 100%;
    height: auto;
}